body {
    margin: 5;
    font-family: Times;
    font-size: 15px;
    background-color: pink;
    color: black;
}

header {
    margin: 5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 15px;
    background-color: pink;
    color: black;
    padding: 5px; 
}

h1 {
    margin: 5;
    font-family: Times;
    font-size: 35px;
    text-decoration: underline;
}

article {
    margin: 5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

ul {
    margin: 5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: purple;
}

section {
    margin: 5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

h3 {
    margin: 5;
    font-family: Times;
    font-size: 15px;
    font-style: italic;
}